<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".AudioFocusProbeReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.cinderhell.TEST_AUDIO_FOCUS" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".DeviceGateReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="dev.cinderhell.DEBUG_LAUNCH_SESSION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
